.content {
  padding: 0.5rem;
  transition: margin-right 0.25s;

  @media screen and (min-width: 1024px) {
    &.sidebar-shown {
      margin-right: $sidebar-width;
    }

    &.sidebar-hidden {
      margin-right: 0px;
    }
  }
}

@media (max-width: 1024px) {
  h2 {
    font-size: 2.5rem;
    margin-bottom: 0;
  }
}

.max-width-960 {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.max-width-50 {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.width-100 { width: 100%; }
.display-none { display: none; }
.text-centre { text-align: center; }

#app {
  padding-top: 42px;
}
