.board-container {
  position: relative;
}

.board {
  border: 0.1rem solid #d1d1d1;
}

.overlay {
  position: absolute;
  top: 150px;
  text-align: center;
  background: $color-tertiary;
  opacity: 0.8;
}
