fieldset.error {
  label { color: $color-warning; }

  input {
    border: 1px solid $color-warning;
  }

  .error-text {
    color: $color-warning;
  }
}

.login, .registration {
  max-width: 360px;
  margin: auto;
}
