fieldset.error {
  label { color: $colour-warning; }

  input {
    border: 1px solid $colour-warning !important;
  }

  .error-text {
    color: $colour-warning;
  }
}

.login, .registration {
  max-width: 360px;
  margin: auto;
}
