.home-links-container {
  padding: 0.5rem;
  text-align: center;
}

.light-mode .home-link {
  background: $colour-light-tertiary;
  border: 0.1rem solid $colour-light-quaternary;
}
.dark-mode .home-link {
  background: $colour-dark-tertiary;
  border: 0.1rem solid $colour-dark-quaternary;
}
.home-link {
  display: inline-block;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  box-sizing: border-box;

  h3, p {
    margin-bottom: 0.5rem;
  }
}

.light-mode .show-how-to-play {
  background: $colour-light-tertiary;
  border: 0.1rem solid $colour-light-quaternary;
}
.dark-mode .show-how-to-play {
  background: $colour-dark-tertiary;
  border: 0.1rem solid $colour-dark-quaternary;
}
.show-how-to-play {
  max-width: 940px;
  margin: auto;
  display: block;
  padding: 0.5rem;
  font-size: 2.0rem;

  .close {
    float: right;
  }
}
