.how-to-play {
  .key {
    display: inline-block;
    border: 0.1rem solid $color-quaternary;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    margin: auto 0.5rem;
  }

  .board-example {
    margin-bottom: 2.5rem;
    div { font-size: 0; }
    .gem { display: inline-block; }
  }
}
