.light-mode .mobile-input {
  background: $colour-light-tertiary;
  border: 0.1rem solid $colour-light-quaternary;
}
.dark-mode .mobile-input {
  background: $colour-dark-tertiary;
  border: 0.1rem solid $colour-dark-quaternary;
}
.mobile-input {
  position: fixed;
  z-index: 3;
  display: inline-block;
  font-size: 3rem;
  padding: 1rem;
  opacity: 0.5;
}
