.light-mode {
  nav {
    background: $colour-light-tertiary;
    border-bottom: 0.1rem solid $colour-light-quaternary;
  }
}
.dark-mode {
  nav {
    background: $colour-dark-tertiary;
    border-bottom: 0.1rem solid $colour-dark-quaternary;
  }
}
nav {
  position: fixed;
  width: 100%;
  z-index: 3;

  .logo {
    font-size: 2rem;
  }

  .icons {
    float: right;
    font-size: 2rem;

    div {
      display: inline-block;
      cursor: pointer;
    }
  }
}

.light-mode {
  .sidebar {
    background: $colour-light-tertiary;
    border-left: 0.1rem solid $colour-light-quaternary;
    .sidebar-link {
      border-bottom: 0.1rem solid $colour-light-quaternary;
      &:hover { background: $colour-light-quinary; }
    }
  }
}
.dark-mode {
  .sidebar {
    background: $colour-dark-tertiary;
    border-left: 0.1rem solid $colour-dark-quaternary;
    .sidebar-link {
      border-bottom: 0.1rem solid $colour-dark-quaternary;
      &:hover { background: $colour-dark-quinary; }
    }
  }
}
.sidebar {
  position: fixed;
  top: 0;
  width: $sidebar-width;
  height: 100vh;
  padding-top: 42px;
  z-index: 2;
  overflow-y: auto;
  transition: right 0.1s;

  &.shown  { right: 0; }
  &.hidden { right: -$sidebar-width; }

  .sidebar-link {
    display: inline-block;
    width: 100%;
    font-size: 2rem;
    padding: 1rem;
  }
}

.light-mode {
  .settings-form {
    background: $colour-light-background;
    border-left: 0.1rem solid $colour-light-quaternary;
    .header {
      background: $colour-light-tertiary;
      border-bottom: 0.1rem solid $colour-light-quaternary;
    }
  }
}
.dark-mode {
  .settings-form {
    background: $colour-dark-background;
    border-left: 0.1rem solid $colour-dark-quaternary;
    .header {
      background: $colour-dark-tertiary;
      border-bottom: 0.1rem solid $colour-dark-quaternary;
    }
  }
}
.settings-form {
  position: fixed;
  top: 0;
  width: $sidebar-width;
  height: 100vh;
  padding: 42px 0 0 0;
  z-index: 1;
  overflow-y: auto;
  transition: right 0.1s;

  .header {
    position: fixed;
    width: $sidebar-width;
    padding: 10px 10px 0 0;
    margin: 0;
    text-align: right;
  }

  .fieldset {
    padding: 60px 0.5rem;
  }

  &.shown  {
    right: 0;
    &.double {
      right: $sidebar-width;
    }
  }
  &.hidden {
    right: -$sidebar-width;
    &.double {
      right: 0;
    }
  }
}
