nav {
  position: fixed;
  width: 100%;
  background: $color-tertiary;
  border-bottom: 0.1rem solid $color-quaternary;
  z-index: 3;

  .logo {
    font-size: 2rem;
  }

  .icons {
    float: right;
    font-size: 2rem;

    div {
      display: inline-block;
      cursor: pointer;
    }
  }
}

.sidebar {
  position: fixed;
  top: 0;
  width: $sidebar-width;
  height: 100vh;
  padding-top: 42px;
  background: $color-tertiary;
  border-left: 0.1rem solid $color-quaternary;
  z-index: 2;
  overflow-y: auto;
  transition: right 0.1s;

  &.shown  { right: 0; }
  &.hidden { right: -$sidebar-width; }

  .sidebar-link {
    display: inline-block;
    width: 100%;
    font-size: 2rem;
    padding: 1rem;
    border-bottom: 0.1rem solid $color-quaternary;

    &:hover { background: $color-quinary; }
  }
}

.settings-form {
  position: fixed;
  top: 0;
  width: $sidebar-width;
  height: 100vh;
  padding: 42px 0 0 0;
  background: white;
  border-left: 0.1rem solid $color-quaternary;
  z-index: 1;
  overflow-y: auto;
  transition: right 0.1s;

  .header {
    position: fixed;
    width: $sidebar-width;
    padding: 10px 10px 0 0;
    margin: 0;
    background: $color-tertiary;
    border-bottom: 0.1rem solid $color-quaternary;
    text-align: right;
  }

  .fieldset {
    padding: 60px 0.5rem;
  }

  &.shown  {
    right: 0;
    &.double {
      right: $sidebar-width;
    }
  }
  &.hidden {
    right: -$sidebar-width;
    &.double {
      right: 0;
    }
  }
}
