$mobile-opponent-width: 192px * 0.50;
$shrink-opponent-width: 192px * 0.50;

.room-presenter {
  text-align: center;
  vertical-align: top;
  display: flex;

  .stats {
    user-select: none;
  }

  .opponents {
    display: inline-block;
  }

  .opponent-count {
    display: none;
  }

  // When you're the only player in the room
  &.solo { .player-board { width: 100%; } }

  @media screen and (max-width: 767px) {
    &.full {
      .opponents {
        .opponent-board {
          position: absolute;
          right: 30px;
          top: 282px;
        }

        canvas {
          width: $mobile-opponent-width;
        }

        .stats {
          padding-right: 0;
          width: $shrink-opponent-width;
        }

        .overlay{
          width: $shrink-opponent-width;
          top: 75px;
        }

        .game-info, .lockdelay-progress {
          display: none;
        }
      }
    }

    &.shrink {
      .opponents { display: none; }
      .opponent-count {
        position: absolute;
        right: 30px;
        top: 250px;
        display: inline-block;
        font-size: 4rem;
      }
    }
  }

  @media screen and (min-width: 768px) {
    // When there's only 2 of you (or in the future there's just enough room for
    // everyone to be full)
    &.full {
      .player-board, .opponent-board {
        margin: 0 3rem;
      }
      .player-board, .opponents {
        width: 50%;
      }
    }

    // When every one can't all fit at once, start shrinking!
    &.shrink {
      .player-board {
        margin: 0 3rem;
        width: 30%;
        min-width: 291px;
      }

      .opponents {
        width: 70%;
        text-align: left;
      }

      .opponent-board {
        margin: 1rem;

        canvas {
          width: $shrink-opponent-width;
        }

        .game-info, .lockdelay-progress {
          display: none;
        }

        .stats {
          padding-right: 0;
          width: $shrink-opponent-width;
        }

        .overlay{
          width: $shrink-opponent-width;
          top: 75px;
        }
      }
    }
  }
}
