$shrink-opponent-width: 192px * 0.50;

.room-presenter {
  text-align: center;
  vertical-align: top;
  display: flex;

  .opponents {
    display: inline-block;
  }

  // When you're the only player in the room
  &.solo { .player-board { width: 100%; } }

  // When there's only 2 of you (or in the future there's just enough room for
  // everyone to be full)
  &.full {
    .player-board, .opponent-board {
      margin: 0 3rem;
    }
    .player-board, .oppnents {
      width: 50%;
    }
  }

  // When every one can't all fit at once, start shrinking!
  &.shrink {
    .player-board {
      margin: 0 3rem;
      width: 30%;
    }

    .oppnents {
      width: 70%;
    }

    .opponent-board {
      margin: 1rem;

      canvas {
        width: $shrink-opponent-width;
      }

      .piece-queue, .lockdelay-progress {
        display: none;
      }

      .stats {
        padding-right: 0;
        width: $shrink-opponent-width;
      }

      .overlay{
        width: $shrink-opponent-width;
        top: 75px;
      }
    }
  }
}
